.card {
  border-radius: 15px;
}

.cardTitle {
  font-weight: bold;
  color: #444;
}

.chart {
  border: 2px dashed #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #aaa;
}